<div class="row">
        <div class="col-md-6">
            <input type="number" placeholder="Digite o ID" [(ngModel)] ="idBusca">
            <span *ngIf='_msgErro'>{{_msgErro}}</span>
        </div>
        <div class="col-md-6">
            <button (click) = "pesquisar();"> Pesquisar </button>
        </div>
    </div>
    
    <div *ngIf="_tarefa != null">
        <div class="row">
            <div class="col-md-12">
                <h5>User: </h5>
                {{_tarefa.id}}<br>
                {{_tarefa.title}} <br>
                {{_tarefa.completed}} <br>
           
            </div>
        </div>
    </div>